<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
Name: <input ng-model="name">
Password: <input type="password" ng-model="password1">
<h1>You entered: {{name}}</h1>
<h1>You entered: {{password1}}</h1>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "shem bar";
	$scope.password1 = "123456";
});
</script>

</body>
</html>
