<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <div ng-app="myApp" ng-controller="myCtrl">
    Enter name:<input type="text" ng-model="name">
    {{ErrorName()}}
    <br/>
    Enter password:
    <input type="password" ng-model="pass" style="background-color:{{myBackGroundColor}}">{{passLengthMessage}}
    <br/>
    Retype password:
    <input type="password" ng-model="confPass" style="background-color:{{myBackGroundColor2}}">


  </div>

  <script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.name = "";
    $scope.myBackGroundColor = "blue";
    $scope.myBackGroundColor2 = "blue";
    $scope.pass = "";
    $scope.passCharMessage=0;
    $scope.confPass= "";
    $scope.passLength=0;
    $scope.passChar=0;

    $scope.ErrorName = function(){
      if(!($scope.name == "")){
        if(!($scope.pass=="")){
          $scope.myBackGroundColor = "white";
          $scope.myBackGroundColor2 = "lightblue";
        }
        if($scope.confPass == $scope.pass && $scope.pass!=""){
          $scope.myBackGroundColor = "lightgreen";
          $scope.myBackGroundColor2 = "lightgreen";
        }
        else if(!($scope.pass=="")){
          $scope.myBackGroundColor = "white";
          $scope.myBackGroundColor2 = "lightblue";
        }
        else{
          $scope.myBackGroundColor = "lightblue";
          $scope.myBackGroundColor2 = "lightblue";
        }

        if($scope.pass.length>=8)
        {
          $scope.passLengthMessage="GOOD PASSWORD";
        }
        else if($scope.pass.length>=4)
        {
          $scope.passLengthMessage="FAIR PASSWORD";
        }
        else{
          $scope.passLengthMessage="TOO SHORT PASSWORD";
        }

        return "";
      }
      else
      {
      return "Not Valid";
      }

    };



  });
</script>

</body>
</html>
